@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    padding: 10px;
}
#_container {
  background-color: #c8102e;
  color: white;
  padding: 18px;
}
#_divide{
  padding-bottom: 50px;
}